@font-face{
    font-family: 'gracie';
    src: url('../font/Gracie.otf')
}

@font-face{
    font-family: 'delray';
    src: url('../font/delray-heavy.otf')
}

@font-face{
    font-family: 'mlc';
    src: url('../font/Melancholy-Serif.otf')
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'delray', sans-serif;
}

a {
    text-decoration: none;
    color: #1A2130;
}

/* Navbar */
nav {
    width: 100%;
    display: flex;
    background-color: #3AA7E2;
    justify-content: space-around;
    color: #1A2130;
    height: 50px;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    position: fixed;
}

nav .logo a {
    font-family: 'gracie';
    letter-spacing: 3px;
    user-select: none;
    transition: all .5s;
}

nav .logo a:hover {
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: #1A2130;
    text-decoration: none;
    padding: 5px;
    transition: all .2s;
}

nav ul li a:hover {
    color: #fff;
    background-color: #050C9C;
    border-radius: 5px;
    transform: translateY(10%);
}

/* content index */
.content {
    font-family: 'mlc';
    max-width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 2px 0 2px rgba(0, 0, 0, .3), -2px 0 2px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    padding: 60px 140px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.content>.img {
    display: flex;
    justify-content: center;
}

.content>.img>img {
    border: 10px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin: 20px;
}

.contentp {
    font-family: 'mlc';
    max-width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 2px 0 2px rgba(0, 0, 0, .3), -2px 0 2px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    padding: 80px 120px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contentp>.produk {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    max-width: 240px;
}

.contentp>.produk>h4 {
    margin: 10px 0;
    text-align: center;
}

.contentp>.produk>.tes {
    background-color: #050C9C;
    padding: 70px;
}

.produk>button {
    font-family: 'mlc';
    margin-top: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #06D001;
    color: #EEEDEB;
    border: 1px solid #059212;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    align-self: stretch;
    transition: all .2s;
}

.produk>img {
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.produk>button:hover {
    background-color: #059212;
    color: #1A2130;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .3);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;    
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #1A2130;
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle:hover span {
    background-color: #fff;
}

/* icon up */
.up {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}

.up>a {
    font-size: 2.5em;
    padding: 3px 8px;
    border-radius: 15px;
    transition: all .2s;
}

.up>a:hover {
    color: #fff;
    background-color: #1A2130;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #3AA7E2;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .3);
}

footer .icon {
    display: flex;
}

.icon .i {
    margin: 5px;
    font-size: 1.5em;
}

.icon>.i>a {
    padding: 2px 5px;
    border-radius: 3px;
    transition: all .2s;
}

.icon>.i>a:hover {
    color: #fff;
    background-color: #1A2130;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:last-child {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:last-child {
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:not(:checked) ~ span {
    background-color: #1A2130;
}

/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
   .contentp {
        padding: 80px 0 40px;
        justify-content: center;
    }

    .contentp>.produk {
        margin: 10px;
    }

   .content {
        padding: 80px 30px 40px;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .3);
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateY(-100%);
        transition: all .5s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translate(0);
    }

    nav ul li a {
        color: black;
        background-color: rgba(255, 255, 255, .6);
        border-radius: 5px;
    }

    .menu-toggle {
        display: flex;
    }

    .content>.img>img {
        width: 50%;
    }
}