:root {
    --hitam: #1A2130;
    --hitamS: rgba(0, 0, 0, .3);
    --putih: #fff;
    --hjCerah: #06D001;
    --hjGelap: #059212;
    --biru: #3AA7E2;
}

@font-face{
    font-family: 'gracie';
    src: url('../font/Gracie.otf')
}

@font-face{
    font-family: 'delray';
    src: url('../font/delray-heavy.otf')
}

@font-face{
    font-family: 'mlc';
    src: url('../font/Melancholy-Serif.otf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .8);
}

body {
    font-family: 'delray', sans-serif;
}

a {
    text-decoration: none;
    color: var(--hitam);
}

/* Navbar */
nav {
    width: 100%;
    display: flex;
    background-color: var(--biru);
    justify-content: space-around;
    color: var(--hitam);
    height: 50px;
    align-items: center;
    box-shadow: 0 1px 2px var(--hitamS);
    position: fixed;
    z-index: 1;
}

nav .logo a {
    font-family: 'gracie';
    letter-spacing: 3px;
    user-select: none;
    transition: all .5s;
}

nav .logo a:hover {
    color: var(--putih);
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: var(--hitam);
    text-decoration: none;
    padding: 5px;
    transition: all .2s;
}

nav ul li a:hover {
    color: var(--putih);
    background-color: #050C9C;
    border-radius: 5px;
    transform: translateY(10%);
}

/* content index */
.content {
    font-family: 'mlc';
    max-width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 2px 0 2px var(--hitamS), -2px 0 2px var(--hitamS);
    padding: 60px 140px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>p {
    align-self: self-start;
}

.content h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.content>a>img {
    max-width: 100%;
    border: 10px solid var(--putih);
    box-shadow: 0 0 2px var(--hitamS);
    border-radius: 5px;
    margin: 20px 0;
    transition: all .2s;
}

.content>a>img:hover {
    /* opacity: .7; */
    box-shadow: 0 0 4px 1px var(--hitamS);
    transform: translateY(10%) scale(1.1);
}

/* content produk */
.contentp {
    font-family: 'mlc';
    max-width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 2px 0 2px var(--hitamS), -2px 0 2px var(--hitamS);
    padding: 80px 120px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contentp>.produk {
    box-shadow: 0 0 2px 1px var(--hitamS);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    max-width: 240px;
}

.contentp>.produk>h4 {
    margin: 10px 0;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.produk>button {
    font-family: 'mlc';
    margin-top: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: var(--hjCerah);
    color: #EEEDEB;
    border: 1px solid var(--hjGelap);
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 0 0 2px var(--hitamS);
    align-self: stretch;
    transition: all .2s;
}

.produk>a>img {
    box-shadow: 0 0 2px var(--hitamS);
    border-radius: 5px;
    transition: all .2s;
}

.produk>a>img:hover {
    box-shadow: 0 0 4px 1px var(--hitamS);
    transform: scale(1.1);
}

.produk>button:hover {
    background-color: var(--hjGelap);
    color: var(--hitam);
    box-shadow: 0 0 4px 1px var(--hitamS);
}

/* content service */
.contents {
    font-family: 'mlc';
    max-width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 2px 0 2px var(--hitamS), -2px 0 2px var(--hitamS);
    padding: 80px 120px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contents>.card {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: 0 0 4px 1px var(--hitamS);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 10px;
    justify-content: space-between;
    transition: all .5s;
}

.contents>.card:nth-child(odd):hover {
    box-shadow: 0 0 2px 2px var(--hitamS);
    transform: translateX(10%);
}

.contents>.card:nth-child(even):hover {
    box-shadow: 0 0 2px 2px var(--hitamS);
    transform: translateX(-10%);
}

.contents>.card>.icon {
    font-size: 5em;
    text-align: center;
}

.contents>.card>h3 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;    
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--hitam);
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle:hover span {
    background-color: var(--putih);
}

/* icon up */
.up {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}

.up>a {
    font-size: 2.5em;
    padding: 3px 8px;
    border-radius: 15px;
    transition: all .2s;
}

.up>a:hover {
    color: var(--putih);
    background-color: var(--hitam);
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: var(--biru);
    box-shadow: 0 -1px 2px var(--hitamS);
}

footer .icon {
    display: flex;
}

.icon .i {
    margin: 5px;
    font-size: 1.5em;
}

.icon>.i>a {
    padding: 2px 5px;
    border-radius: 3px;
    transition: all .2s;
}

.icon>.i>a:hover {
    color: var(--putih);
    background-color: var(--hitam);
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:last-child {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: var(--putih);
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:last-child {
    background-color: var(--putih);
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:not(:checked) ~ span {
    background-color: var(--hitam);
}

/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    nav ul {
        width: 50%;
    }
   .contentp {
        padding: 80px 0 40px;
        justify-content: center;
    }

    .contentp>.produk {
        margin: 10px;
    }

   .content {
        padding: 80px 30px 40px;
    }

    .up>a:hover {
        background-color: unset;
        color: var(--hitam);
    }

    .up>a:active {
        background-color: var(--hitam);
        color: var(--putih);
    }

    .produk>button:hover {
        background-color: var(--hjCerah);
        color: var(--putih);
        box-shadow: 0 0 2px var(--hitamS);
    }

    .produk>button:active {
        background-color: var(--hjGelap);
        color: var(--hitam);
        box-shadow: 0 0 4px 1px var(--hitamS);
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: var(--hitamS);
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateY(-100%);
        transition: all .5s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translate(0);
    }

    nav ul li a {
        color: black;
        background-color: rgba(255, 255, 255, .6);
        border-radius: 5px;
    }

    .menu-toggle {
        display: flex;
    }

    .content {
        padding: 80px 20px 40px;
        align-items: center;
    }
}